/*======= Game Board ======= */
.hide {
    display: none;
}

.show {
    display: block;
}

#new-game-button {
    float: left;
    display: block;
}

#select-colors span, #code-colors span {
    display: block;
    float: left;
    width: 15.8%;
    height: 80px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
}

#select-colors, #code-colors {
    height: 80px;
}

.game-colors {
    float: left;
    clear: both;
}
.game-colors span {
    padding: 10px;
    float: left;
}

/** TODO: only do this for the current row */
#select-colors span:hover,
#select-colors span:focus,
.game-colors .active:hover,
.game-colors .active:focus {
    text-decoration: none;
    cursor: pointer;
}

#game-board {
    float: left;
    padding: 10px;
    clear: both;
}

.game-board-colors {
    border-radius: 100px;
    width: 30px;
    height: 30px;
}

.game-output {
    float: left;
}

.game-output-colors {
    border-radius: 100px;
    width: 15px;
    height: 15px;
}

/*======= Pickable colors ======= */
.blue {
    background: blue;
}

.yellow {
    background: yellow;
}

.purple {
    background: purple;
}

.green {
    background: green;
}

.orange {
    background: orange;
}

.pink {
    background: pink;
}

/*======= Key peg colors ======= */
.white {
    background: white;
}

.red {
    background: red;
}

/*======= Game board colors ======= */
.grey {
    background: grey;
}

.color-blank {
    background: papayawhip;
}

.dark-grey {
    background: darkgrey;
}



/*======= Modal ======= */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .modal-close:hover,
  .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

